body {
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  gap: 100px;
}

.table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  width: 500px;
  height: 500px;
  background-color: rgb(130, 43, 43);
  border: 1px solid black;
}
.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  aspect-ratio: 1;
  box-sizing: border-box;
  border-style: solid;
  border-color: white;
  font-size: 6em;
}
.inputDiv {
  height: 300px;
  width: 400px;
  background-color: rgb(59, 151, 161);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.input1 {
  height: 30px;
  width: 150px;
  background-color: blanchedalmond;
  border: none;
}

.input2 {
  height: 30px;
  width: 150px;
  background-color: blanchedalmond;
  border: none;
  margin-bottom: 30px;
}
.resetBtn {
  height: 40px;
  width: 100px;
  margin-top: 60px;
  background-color: blanchedalmond;
  border: none;
  font-size: 1.2em;
  font-weight: 500;
}
.startBtn {
  height: 40px;
  width: 100px;

  background-color: blanchedalmond;
  border: none;
  font-size: 1.2em;
  font-weight: 500;
}
.winner {
  height: 200px;
  width: 200px;
  background-color: rgb(34, 152, 127);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}
